.cart__title {
    text-align: center;
    font-family: var(--font-family);
    margin-bottom: 3rem;
}

.cart__items{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: var(--font-family);
}

.no-cart-items {
    display: flex;
    align-items: center;
    justify-content: center;
}