.cart__title {
    text-align: center;
    font-family: var(--font-family);
    margin-bottom: 3rem;
}

.cart__items{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: var(--font-family);
}

.no-cart-items {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 550px) {
    .cart__title {
        font-size: 15px;
    }

    .no-cart-items {
        font-size: 14px;
    }
}