.product {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: auto;
    width: 370px;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
}

.product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
}

.product__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product__image img {
    width: 55%;
    padding-top: 50px;
}


.product__description {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.product__description p {
    font-family: var(--font-family);
}

.product__price {
    flex: 1;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    justify-self: flex-end;
    margin: 0 0 5px 10px
}

.product__add-to-cart {
    position: absolute;
    background: transparent;
    color: black;
    font-family: var(--font-family);
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    top: 5px;
    right: 5px;
}

.product__add-to-cart:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.2s;
    background: var(--color-navbar);
    color: white;
}

.rating {
    position: absolute;
    top: 10px;
    left: 10px;
}


@media screen and (max-width: 1260px) {
    .product {
        width: 220px;
    } 
}

@media screen and (max-width: 800px) {
    .product__description {
        font-size: 18px;
        line-height: 26px;
    }

    .product__add-to-cart{
        font-size: 10px;
    }
}


@media screen and (max-width: 520px) {
    .product {
        width: 145px;
        gap: 5px;
    }

    .product__price {
        font-size: 14px;
    }

    .product__description {
        font-size: 14px;
        line-height: 20px;
    }

    .product__add-to-cart {
        bottom: 5px;
        top: unset;
        font-size: 10px;
        padding: 0.35rem;
    }
}