.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-bottom: 10px;
    border-bottom: 3px solid gray;
}

.cart-item__productinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
}

.cart-item__image {
    background: white;
    height: 200px;
    width: 250px;
    flex: 2;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5rem;
}

.cart-item__image img {
    height: 95%;
}

.cart-item__info {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.cart-item__info p {
    margin-bottom: 1.5rem;
}

.cart-item__info h2 {
    margin-bottom: 2rem;
}


.cart-item__product-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.cart-item__product-count p {
    font-weight: bold;
    font-size: 1.5rem;
}

.cart-item__product-count input {
    background: transparent;
    outline: none;
    border: none;
    width: 30px;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
}

.cart-item__btn {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    p {
        font-size: 14px;
    }

    .cart-item__info {
        width: unset;
        max-width: 500px;
    }
}

@media screen and (max-width: 750px) {
    .cart-item {
        flex-direction: column;
        position: relative;
    }

    .cart-item__product-count {
        flex-direction: row-reverse;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}

@media screen and (max-width: 550px) {
    h2 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .cart-item__productinfo {
        flex-direction: column;
        align-items: center;
    }

    .cart-item__image {
        flex: 1;
        width: 100%;
    }

    .cart-item__info {
        max-width: 350px;
        flex: 1;
    }

    .cart-item__image img {
        width: 150px
    }

    .cart-item__product-count {
        gap: 5px;
    }

    .cart-item__btn {
        width: 30px;
        height: 30px;
    }

    .cart-item__product-count p {
        font-size: 16px;
    }
}