* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    padding: 0;
}

body {
    background-color: #ebedf0;
}

.section__padding {
    padding: 6rem 4rem;
}

.section__margin {
    margin: 6rem 4rem;
}

.slide-in-bottom {
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 650px) {
    .section__padding {
        padding: 6rem 2rem;
    }

    .section__margin {
        margin: 6rem 2rem;
    }
}

